 <!DOCTYPE html>
 <html>
 <head>
 	<meta charset="UTF-8">
 	<title>Khmer Video</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" type="text/css" href="css/application.css">
 	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
 </head>
 <body ng-app="khmerTubeApp">
 	<header id="main_header" class="cf">
 		<div class="wrapper_wide">
 			<a id="logo" href="/#/">KhmerTube</a>
 			<nav id="top">
 				<form ng-submit="queryVideo(query)">
 					<input ng-model="query" type="text" placeholder="search videos">
 					<a ng-click="queryVideo(query)" class="btn btn_highlight">Search</a>
 				</form>
 			</nav> 
 		</div>			
 	</header>
 	<div ng-include="'views/partials/navigation.html'"></div>
 	<div id="content">
 	<div class="ng-view="></div>	
 	</div>

 	<script src="scripts/libs/jquery/jquery.js"></script>
 	<!-- <script async=false src="scripts/_js/youtube/client.js?onload=handleClientLoad"></script> -->
 	<!-- <script src="scripts/_js/youtube/auth.js"></script> -->


 	<!-- <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script> -->
 	<script src="scripts/libs/angular/angular.js"></script>
 	<script src="scripts/libs/angular-route/angular-route.js"></script>

 	<script src="scripts/app.js"></script>
 	<script src="scripts/controllers/main.js"></script>
 	<script src="scripts/controllers/youtubeService.js"></script>
 	<script src="scripts/controllers/about.js"></script>
 	<script src="scripts/controllers/menu.js"></script>
 	<script src="scripts/controllers/browse.js"></script>
 </body>
 </html>