<!-- <div ng-include="'views/partials/banner.html'"></div> -->
<!-- list of video -->
<div id="videos" class="cf wrapper_wide">
	<div class="wrapper">
		<ul>
			<a ng-href="#/browse/{{video.videoId}}" ng-click="setSelectedVideo(video)" ng-repeat="video in videos">
				<li>
					<img ng-src="{{video.img}}">
					<div class="podcast_overview">
						<h2>{{video.title | limitTo:25}}</h2>
					</div>

				</li>
			</a>
		</ul>
	</div>
</div>

<!-- pagination -->
<div class="pagination">
	<span class="previous_page disabled">Previous</span>
	<em class="current">1</em>
	<a href="2">2</a>
	<a class="next_page">Next</a>
</div>